*{
    margin: 0;
    padding: 0;
}
/* .open{
    height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    display: grid;
    background-color: crimson;
}
.klik{
    font-size: 20px;
}
.klik:hover{
    color: white;
} */
.game{
    background-color: aqua;
    height: 100vh;
    padding-top: 20px;
}
#judul{
    font-size: 40px;
    text-align: center;
    color: black;
    
}
.info{
    width: 100%;
    border: 4px solid darkblue;
}
td{
    border: 2px solid black;
    text-align: center;
    justify-content: center;
}
.user{
    font-size: 30px;
}
.skor{
    font-size: 25px;
}
.board{
    /* font-size: 30px; */
    display: grid ;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 5px; 
    margin: 20px auto;
    justify-content: center;
    background-color: black;
    width: fit-content;
}
.slot{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    cursor: pointer;
    border: 2px solid blue;
    
}
.slot:hover{
    background-color: chocolate;
}
.slot:click{
    background-color: red;
}
#Re-Match{
    display: flex;
    justify-content: center;
}
#end{
    background-color: chartreuse;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
